@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.container {
  position: relative;
  width: 600px;
  min-height: 600px;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 100vh;
  padding: 40px;
}

.box h1 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.buttonContainer button {
  width: 550px;
  height: 40px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #336087;
  border: 2px solid #336087;
  -webkit-text-fill-color: white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.buttonContainer button:hover {
  background-color: #162938;
  transition: 0.5s;
}

.userList {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
